<template>
  <div>
    <v-dialog v-model="dialog" max-width="500px">
      <v-btn slot="activator" color="kryptos" dark class="mb-2">New Item</v-btn>
      <v-card>
        <v-card-title>
          <span class="headline">{{ formTitle }}</span>
        </v-card-title>
        <v-card-text>
          <v-container grid-list-md>
            <v-layout wrap>
              <v-flex xs12 sm6 md4>
                <v-text-field v-model="editedItem.order" label="#"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field v-model="editedItem.nombre" label="Nombre"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field v-model="editedItem.precio" label="Tipo de reserva"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field v-model="editedItem.promotor" label="Promotor"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field v-model="editedItem.status" label="Status"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field v-model="editedItem.informacion" label="Información"></v-text-field>
              </v-flex>
              <v-flex xs12 sm6 md4>
                <v-text-field v-model="editedItem.confirmacion" label="Confirmación"></v-text-field>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" flat @click.native="close">Cancel</v-btn>
          <v-btn color="blue darken-1" flat @click.native="save">Save</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-data-table
      :headers="headers"
      :items="desserts"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.order }}</td>
        <td class="text-xs-right">{{ props.item.nombre }}</td>
        <td class="text-xs-right">{{ props.item.tipo }}</td>
        <td class="text-xs-right">{{ props.item.precio }}</td>
        <td class="text-xs-right">{{ props.item.promotor }}</td>
        <td class="text-xs-right">{{ props.item.status }}</td>
        <td class="text-xs-right">{{ props.item.informacion }}</td>
        <td class="text-xs-right">{{ props.item.confirmacion }}</td>
        <td class="justify-center layout px-0">
          <v-btn icon class="mx-0" @click="editItem(props.item)">
            <v-icon color="teal">edit</v-icon>
          </v-btn>
          <v-btn icon class="mx-0" @click="deleteItem(props.item)">
            <v-icon color="pink">delete</v-icon>
          </v-btn>
        </td>
      </template>
      <template slot="no-data">
        <v-btn color="primary" @click="initialize">Reset</v-btn>
      </template>
    </v-data-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      dialog: false,
      headers: [
        {
          text: '#',
          align: 'left',
          sortable: false,
          value: 'order'
        },
        { text: 'Nombre', value: 'nombre' },
        { text: 'Tipo de entrada', value: 'tipo' },
        { text: 'Precio', value: 'precio' },
        { text: 'Promotor', value: 'promotor' },
        { text: 'Status', value: 'status' },
        { text: 'Información de orden', value: 'informacion' },
        { text: 'Confirmar pago', value: 'confirmacion' },
        { text: 'Actions', value: 'order', sortable: false }
      ],
      desserts: [],
      editedIndex: -1,
      editedItem: {
        order: 0,
        nombre: '',
        tipo: '',
        precio: 0,
        promotor: '',
        status: '',
        informacion: '',
        confirmacion: ''
      },
      defaultItem: {
        order: 0,
        nombre: '',
        tipo: '',
        precio: 0,
        promotor: '',
        status: '',
        informacion: '',
        confirmacion: ''
      }
    }
  },

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Nueva Orden' : 'Editar Orden'
    }
  },

  watch: {
    dialog (val) {
      val || this.close()
    }
  },

  created () {
    this.initialize()
  },

  methods: {
    initialize () {
      this.desserts = [
        {
          value: false,
          order: 1,
          nombre: 'Frozen Yogurt',
          tipo: 159,
          precio: 6.0,
          promotor: 24,
          status: 4.0,
          confirmacion: 'Confirmar venta',
          informacion: '1%'
        },
        {
          value: false,
          order: 2,
          nombre: 'Ice cream sandwich',
          tipo: 237,
          precio: 9.0,
          promotor: 37,
          status: 4.3,
          confirmacion: 'Confirmar venta',
          informacion: '1%'
        },
        {
          value: false,
          order: 3,
          nombre: 'Eclair',
          tipo: 262,
          precio: 16.0,
          promotor: 23,
          status: 6.0,
          confirmacion: 'Confirmar venta',
          informacion: '7%'
        },
        {
          value: false,
          order: 4,
          nombre: 'Cupcake',
          tipo: 305,
          precio: 3.7,
          promotor: 67,
          status: 4.3,
          confirmacion: 'Confirmar venta',
          informacion: '8%'
        },
        {
          value: false,
          order: 5,
          nombre: 'Gingerbread',
          tipo: 356,
          precio: 16.0,
          promotor: 49,
          status: 3.9,
          confirmacion: 'Confirmar venta',
          informacion: '16%'
        },
        {
          value: false,
          order: 6,
          nombre: 'Jelly bean',
          tipo: 375,
          precio: 0.0,
          promotor: 94,
          status: 0.0,
          confirmacion: 'Confirmar venta',
          informacion: '0%'
        },
        {
          value: false,
          order: 7,
          nombre: 'Lollipop',
          tipo: 392,
          precio: 0.2,
          promotor: 98,
          status: 0,
          confirmacion: 'Confirmar venta',
          informacion: '2%'
        },
        {
          value: false,
          order: 8,
          nombre: 'Honeycomb',
          tipo: 408,
          precio: 3.2,
          promotor: 87,
          status: 6.5,
          confirmacion: 'Confirmar venta',
          informacion: '45%'
        },
        {
          value: false,
          order: 9,
          nombre: 'Donut',
          tipo: 452,
          precio: 25.0,
          promotor: 51,
          status: 4.9,
          confirmacion: 'Confirmar venta',
          informacion: '22%'
        },
        {
          value: false,
          order: 10,
          nombre: 'KitKat',
          tipo: 518,
          precio: 26.0,
          promotor: 65,
          status: 7,
          confirmacion: 'Confirmar venta',
          informacion: '6%'
        }
      ]
    },

    editItem (item) {
      this.editedIndex = this.desserts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem (item) {
      const index = this.desserts.indexOf(item)
      confirm('Are you sure you want to delete this item?') && this.desserts.splice(index, 1)
    },

    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },

    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem)
      } else {
        this.desserts.push(this.editedItem)
      }
      this.close()
    }
  },
  name: 'Ordenes'
}
</script>
/*
      headers: [
        {
          text: '#',
          align: 'left',
          sortable: false,
          value: 'order'
        },
        { text: 'Nombre', value: 'nombre' },
        { text: 'Tipo de entrada', value: 'tipo' },
        { text: 'Precio', value: 'precio' },
        { text: 'Promotor', value: 'promotor' },
        { text: 'Status', value: 'status' },
        { text: 'Información de orden', value: 'informacion' },
        { text: 'Confirmar pago', value: 'confirmacion' }
      ],
      desserts: [
        {
          value: false,
          order: 1,
          nombre: 'Frozen Yogurt',
          tipo: 159,
          precio: 6.0,
          promotor: 24,
          status: 4.0,
          confirmacion: 'Confirmar venta',
          informacion: '1%'
        },
        {
          value: false,
          order: 2,
          nombre: 'Ice cream sandwich',
          tipo: 237,
          precio: 9.0,
          promotor: 37,
          status: 4.3,
          confirmacion: 'Confirmar venta',
          informacion: '1%'
        },
        {
          value: false,
          order: 3,
          nombre: 'Eclair',
          tipo: 262,
          precio: 16.0,
          promotor: 23,
          status: 6.0,
          confirmacion: 'Confirmar venta',
          informacion: '7%'
        },
        {
          value: false,
          order: 4,
          nombre: 'Cupcake',
          tipo: 305,
          precio: 3.7,
          promotor: 67,
          status: 4.3,
          confirmacion: 'Confirmar venta',
          informacion: '8%'
        },
        {
          value: false,
          order: 5,
          nombre: 'Gingerbread',
          tipo: 356,
          precio: 16.0,
          promotor: 49,
          status: 3.9,
          confirmacion: 'Confirmar venta',
          informacion: '16%'
        },
        {
          value: false,
          order: 6,
          nombre: 'Jelly bean',
          tipo: 375,
          precio: 0.0,
          promotor: 94,
          status: 0.0,
          confirmacion: 'Confirmar venta',
          informacion: '0%'
        },
        {
          value: false,
          order: 7,
          nombre: 'Lollipop',
          tipo: 392,
          precio: 0.2,
          promotor: 98,
          status: 0,
          confirmacion: 'Confirmar venta',
          informacion: '2%'
        },
        {
          value: false,
          order: 8,
          nombre: 'Honeycomb',
          tipo: 408,
          precio: 3.2,
          promotor: 87,
          status: 6.5,
          confirmacion: 'Confirmar venta',
          informacion: '45%'
        },
        {
          value: false,
          order: 9,
          nombre: 'Donut',
          tipo: 452,
          precio: 25.0,
          promotor: 51,
          status: 4.9,
          confirmacion: 'Confirmar venta',
          informacion: '22%'
        },
        {
          value: false,
          order: 10,
          nombre: 'KitKat',
          tipo: 518,
          precio: 26.0,
          promotor: 65,
          status: 7,
          confirmacion: 'Confirmar venta',
          informacion: '6%'
        }
      ]
    }
  },
  name: 'Ordenes'
}
</script> */
<style scoped>
</style>