<template>
  <v-container fluid text-xs-center style="padding:0; margin:0">
    <v-parallax :src="vivamexico" alt="Viva México" height="600">
      <v-layout column align-center justify-center v-for="event in event" :key="event.key" class="textshadow">
        <div class="white--text font-exo event-name">{{event.name}}</div>
        <div style="margin-bottom: 10px"></div>
        <div class="white--text font-yantramanav event-date">{{event.date}}</div>
        <div style="margin-bottom: 25px"></div>
        <v-icon class="iconsize" dark>wb_incandescent</v-icon>
        <div class="white--text font-yantramanav event-data">Productora</div>
        <div class="white--text font-yantramanav event-data">{{event.producer}}</div>
        <div style="margin-bottom: 25px"></div>
        <v-icon class="iconsize" dark>place</v-icon>
        <div class="white--text font-yantramanav event-data">Lugar</div>
        <div class="white--text font-yantramanav event-data">{{event.place}}</div>
      </v-layout>
    </v-parallax>
    <v-layout row wrap align-content-center align-top justify-space-around>
      <v-flex xs12 sm12 md6 class="white--text" style="margin:0; padding:0">
        <v-layout row wrap align-content-center align-top justify-space-around >
          <v-flex xs12 style="background: #8BB9D8;" class="white--text informaciontitle hidden-sm-and-down">
            INFORMACIÓN
          </v-flex>
          <v-flex xs12 class="black--text informacioncontent hidden-sm-and-down">
            <p>
              Damas y caballeros, mediante este comunicado tenemos el agrado de presentarles 
              la marca que lo cambiará todo. Void, la marca premium que se especializará en 
              fiestas temáticas con una producción de calidad y dirigida a un público sumamente 
              exclusivo.
            </p>
            <p>
              Nuestra meta es lograr hacer una fiesta que parece imposible en nuestra época, 
              una fiesta en la que no hagas cola para entrar, tengas espacio de sobra para bailar, 
              que las colas en la barra no existan y lo más importante, que te sientas en un ambiente 
              de confianza donde tu seguridad y tu diversión sean los planes sobre los cuales 
              trabajaremos para darte una noche épica.
            </p>
            <p>
              Para nuestro tono de lanzamiento hemos elegido una temática Mexicana, tendremos 
              tequila en todas sus presentaciones, foodtrucks donde podrás bajar la peda y una 
              ambientación de lujo. También contaremos con una gran cantidad de sorpresas e innovaciones 
              dignas de nuestro evento de inauguración.
            </p>
            <p>
              Esperamos que seas parte de esta nueva historia.
            </p>
            <p style="text-align: right">
              Atentamente, Void.
            </p>
          </v-flex>
          <v-flex xs12 class="black--text hidden-md-and-up">
            <v-expansion-panel dark expand style="background:transparent;" class="elevation-0">
              <v-expansion-panel-content style="background: #8BB9D8; color:white;" expand-icon="arrow_drop_down">
                <div slot="header" style="text-align: center; font-size: 2.5vh; font-weight: 400;">INFORMACIÓN</div>
                  <v-card style="background: #F1F1F1;">
                    <v-card-text class="transparent black--text informacioncontent">
                      <p>
                        Damas y caballeros, mediante este comunicado tenemos el agrado de presentarles 
                        la marca que lo cambiará todo. Void, la marca premium que se especializará en 
                        fiestas temáticas con una producción de calidad y dirigida a un público sumamente 
                        exclusivo.
                      </p>
                      <p>
                        Nuestra meta es lograr hacer una fiesta que parece imposible en nuestra época, 
                        una fiesta en la que no hagas cola para entrar, tengas espacio de sobra para bailar, 
                        que las colas en la barra no existan y lo más importante, que te sientas en un ambiente 
                        de confianza donde tu seguridad y tu diversión sean los planes sobre los cuales 
                        trabajaremos para darte una noche épica.
                      </p>
                      <p>
                        Para nuestro tono de lanzamiento hemos elegido una temática Mexicana, tendremos 
                        tequila en todas sus presentaciones, foodtrucks donde podrás bajar la peda y una 
                        ambientación de lujo. También contaremos con una gran cantidad de sorpresas e innovaciones 
                        dignas de nuestro evento de inauguración.
                      </p>
                      <p>
                        Esperamos que seas parte de esta nueva historia.
                      </p>
                      <p style="text-align: right">
                        Atentamente, Void.
                      </p>
                    </v-card-text>
                  </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs12 sm12 md6 class="white--text" style="margin:0; padding:0">
        <v-layout row wrap align-content-center align-top justify-space-around >
          <v-flex xs12 style="background: #8BB9D8;" class="white--text entradastitle" >
            ENTRADAS
          </v-flex>
          <v-layout row wrap align-center justify-center style="padding:0; margin-top:20px">
            <v-flex xs12 class="pasos black--text">
              <span style="color: #8BB9D8" ><strong>1</strong></span>
                Elige la entrada entre estas opciones
            </v-flex>
            <v-tabs color="transparent" centered>
              <v-tabs-slider color="kryptos"></v-tabs-slider>
              <v-tab v-for="tabs in tabsentrada" :key="tabs.id" >
                {{ tabs }}
              </v-tab>
            </v-tabs>
          </v-layout>
          <v-flex xs10 sm10 md11 class="black--text entradascontent" text-xs-center>
            <form>
              <v-layout row wrap align-center justify-center>
              <div class="pasos" style="margin-top:2vh">
                <span style="color: #8BB9D8"><strong>2</strong></span>
                Elige el promotor que aceptará tu solicitud
              </div>
              <v-flex xs12>
                <v-select
                  prepend-icon="local_play"
                  class="input-group--focused"
                  single-line
                  color="kryptos"
                  v-model="select"
                  :items="items"
                  :error-messages="selectErrors"
                  label="Promotor"
                  required
                  @change="$v.select.$touch()"
                  @blur="$v.select.$touch()"
                  autocomplete
                ></v-select>
              </v-flex>
              <div style="margin-bottom: 4vh"></div>
              <div class="pasos">
                <span style="color: #8BB9D8"><strong>3</strong></span>
                Bríndanos los datos para tu entrada
              </div>
              <v-flex xs12>
                <v-text-field
                  prepend-icon="person"
                  class="input-group--focused"
                  single-line
                  color="kryptos"
                  v-model="name"
                  :error-messages="nameErrors"
                  :counter="30"
                  label="Nombre completo"
                  required
                  @input="$v.name.$touch()"
                  @blur="$v.name.$touch()"
                ></v-text-field>
                <v-text-field
                  prepend-icon="fas fa-id-card"
                  class="input-group--focused"
                  single-line
                  color="kryptos"
                  v-model="dni"
                  :error-messages="dniErrors"
                  :counter="8"
                  label="DNI"
                  required
                  @input="$v.dni.$touch()"
                  @blur="$v.dni.$touch()"
                ></v-text-field>
                <v-text-field
                  prepend-icon="email"
                  class="input-group--focused"
                  single-line
                  color="kryptos"
                  v-model="email"
                  :error-messages="emailErrors"
                  label="E-mail"
                  required
                  @input="$v.email.$touch()"
                  @blur="$v.email.$touch()"
                  onpaste="return false;" onCopy="return false" onCut="return false"
                ></v-text-field>
                <v-text-field
                  prepend-icon="email"
                  class="input-group--focused"
                  single-line
                  color="kryptos"
                  v-model="email2"
                  :error-messages="email2Errors"
                  label="Vuelva a introducir E-mail"
                  required
                  @input="$v.email2.$touch()"
                  @blur="$v.email2.$touch()"
                  onpaste="return false;" onCopy="return false" onCut="return false"
                ></v-text-field>
                <v-text-field
                  prepend-icon="phone"
                  class="input-group--focused"
                  single-line
                  color="kryptos"
                  v-model="celular"
                  :error-messages="celularErrors"
                  :counter="9"
                  label="Celular"
                  required
                  @input="$v.celular.$touch()"
                  @blur="$v.celular.$touch()"
                ></v-text-field>
                <v-menu
                  ref="menu"
                  :close-on-content-click="false"
                  v-model="menu"
                  :nudge-right="40"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <v-text-field
                    class="input-group--focused"
                    single-line
                    color="kryptos"
                    slot="activator"
                    v-model="dateFormatted"
                    label="Fecha de nacimiento"
                    prepend-icon="event"
                    :error-messages="dateFormattedErrors"
                    @input="$v.dateFormatted.$touch()"
                    @blur="date = parseDate(dateFormatted)"
                    readonly
                    required
                  ></v-text-field>
                  <v-date-picker
                    color="kryptos"
                    ref="picker"
                    locale="es-419"
                    v-model="date"
                    :max="new Date().toISOString().substr(0, 10)"
                    min="1950-01-01"
                    @change="save"
                  ></v-date-picker>
                </v-menu>
                <v-select
                  prepend-icon="fas fa-venus-mars"
                  class="input-group--focused"
                  single-line
                  color="kryptos"
                  v-model="sexoselect"
                  :items="sexo"
                  :error-messages="sexoselectErrors"
                  label="Sexo"
                  required
                  @change="$v.sexoselect.$touch()"
                  @blur="$v.sexoselect.$touch()"
                ></v-select>
              </v-flex>
              </v-layout>
              <div class="pasos">
                <span style="color: #8BB9D8"><strong>4</strong></span>
                Envía la solicitud, coordina con tu promotor el pago y la confimación de tu entrada
              </div>
              <v-btn @click="clear" round>clear</v-btn>
              <v-btn @click="submit" round dark color="kryptos">Solicitar entrada</v-btn>
            </form>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
    <div style="height: 100px"></div>
  </v-container>
</template>

<script>
import vivamexico from '../assets/vivamexico-bcknd.jpg'
import { validationMixin } from 'vuelidate'
import { required, maxLength, minLength, email, numeric } from 'vuelidate/lib/validators'

export default {
  mixins: [validationMixin],
  validations: {
    name: { required, maxLength: maxLength(30) },
    email: { required, email },
    email2: { required, email },
    select: { required },
    sexoselect: { required },
    dni: { required, minLength: minLength(8), maxLength: maxLength(8), numeric },
    celular: { required, minLength: minLength(9), maxLength: maxLength(9), numeric },
    dateFormatted: { required }
  },
  data () {
    return {
      vivamexico: vivamexico,
      event: [
        {
          name: '¡Viva México!',
          date: 'Sábado 05 de Mayo',
          producer: 'Void',
          place: 'Pachacamac'
        }
      ],
      tabsentrada: [
        'General',
        'Box General',
        'Box VIP'
      ],
      name: '',
      dni: '',
      email: '',
      celular: '',
      select: null,
      sexoselect: null,
      items: [
        'Álvaro Dasso',
        'Item 2',
        'Item 3',
        'Item 4'
      ],
      sexo: [
        'Femenino',
        'Masculino'
      ],
      email2: '',
      date: null,
      dateFormatted: null,
      menu: false
    }
  },
  computed: {
    checkboxErrors () {
      const errors = []
      if (!this.$v.checkbox.$dirty) return errors
      !this.$v.checkbox.required && errors.push('¡Debes estar de acuerdo para continuar!')
      return errors
    },
    selectErrors () {
      const errors = []
      if (!this.$v.select.$dirty) return errors
      !this.$v.select.required && errors.push('El nombre del promotor es requerido')
      return errors
    },
    sexoselectErrors () {
      const errors = []
      if (!this.$v.sexoselect.$dirty) return errors
      !this.$v.sexoselect.required && errors.push('El sexo es requerido')
      return errors
    },
    nameErrors () {
      const errors = []
      if (!this.$v.name.$dirty) return errors
      !this.$v.name.maxLength && errors.push('El nombre debe tener 30 caracteres máximo')
      !this.$v.name.required && errors.push('El nombre es requerido')
      return errors
    },
    dniErrors () {
      const errors = []
      if (!this.$v.dni.$dirty) return errors
      !this.$v.dni.numeric && errors.push('Debe ser un número válido')
      !this.$v.dni.required && errors.push('DNI es requerido')
      !this.$v.dni.maxLength && errors.push('El DNI debe tener 8 dígitos')
      !this.$v.dni.minLength && errors.push('El DNI debe tener 8 dígitos')
      return errors
    },
    emailErrors () {
      const errors = []
      if (!this.$v.email.$dirty) return errors
      !this.$v.email.email && errors.push('Debe ser un e-mail válido')
      !this.$v.email.required && errors.push('E-mail es requerido')
      return errors
    },
    email2Errors () {
      const errors = []
      if (!this.$v.email2.$dirty) return errors
      !this.$v.email2.email && errors.push('Debe ser un e-mail válido')
      !this.$v.email2.required && errors.push('E-mail es requerido')
      if (this.email !== this.email2) {
        errors.push('Los e-mail no son iguales')
      }
      return errors
    },
    celularErrors () {
      const errors = []
      if (!this.$v.celular.$dirty) return errors
      !this.$v.celular.numeric && errors.push('Debe ser un número válido')
      !this.$v.celular.required && errors.push('El celular is requerido')
      !this.$v.celular.maxLength && errors.push('El celular debe tener 9 dígitos')
      !this.$v.celular.minLength && errors.push('El celular debe tener 9 dígitos')
      return errors
    },
    dateFormattedErrors () {
      const errors = []
      if (!this.$v.dateFormatted.$dirty) return errors
      !this.$v.dateFormatted.required && errors.push('Tu fecha de nacimiento es requerida')
      return errors
    },
    computedDateFormatted () {
      return this.formatDate(this.date)
    }
  },
  watch: {
    menu (val) {
      val && this.$nextTick(() => (this.$refs.picker.activePicker = 'YEAR'))
    },
    date (val) {
      this.dateFormatted = this.formatDate(this.date)
    }
  },
  methods: {
    formatDate (date) {
      if (!date) return null
      const [year, month, day] = date.split('-')
      return `${day}/${month}/${year}`
    },
    parseDate (date) {
      if (!date) return null
      const [month, day, year] = date.split('/')
      return `${year}-${month.padStart(2, '0')}-${day.padStart(2, '0')}`
    },
    save (date) {
      this.$refs.menu.save(date)
    },
    submit () {
      this.$v.$touch()
    },
    clear () {
      this.$v.$reset()
      this.name = ''
      this.email = ''
      this.email2 = ''
      this.select = null
      this.checkbox = false
      this.dni = ''
      this.celular = ''
      this.dateFormatted = null
    }
  },
  name: 'Reservas'
}
</script>
<style scoped>
.font-exo {
  font-family: 'Exo', sans-serif;
}
.font-yantramanav {
  font-family: 'Yantramanav', sans-serif;
}
.event-name {
  font-size: 8vh;
  font-weight: 500;
}
.event-date {
  font-size: 5vh;
  font-weight: 300;
}
.event-data {
  font-size: 4vh;
  font-weight: 300;
}
.iconsize {
  font-size: 6vh;
}
.textshadow {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 50);
}
.informaciontitle {
  padding: 1.6vh;
  font-size: 2.5vh;
  font-weight: 400;
}
.informacioncontent {
  padding: 3vh 8vw;
  font-size: 2.2vh;
  font-weight: 300;
  text-align: justify;
}
.entradastitle {
  padding: 1.6vh;
  font-size: 2.5vh;
  font-weight: 400;
}
.entradascontent {
  padding: 3vh 8vw;
  font-size: 1.5vh;
  font-weight: 300;
  text-align: justify;
}
.pasos {
  font-size: 2vh;
  font-weight: 500;
  padding: 1vh 0;
}
.input-group__details {
  background-color: orangered;
}
.input-group >>> label {
  font-size: 2vh;
}
</style>

