<template>
  <div id="kryptos" class="fullscreen centerofall">
    <div class="successpage">
      <div class="gracias">¡Gracias por tu solicitud!</div>
      <div style="padding-bottom:1.5vh"></div>
      <div class="datostitle">Datos de la orden #39</div>
      <div style="padding-bottom:1vh"></div>
      <div class="datos">
        <div class="datosflex1">
          <div class="pb">Evento</div>
          <div class="color pb"><strong>¡Viva México!</strong></div>
          <div style="padding-bottom:1vh"></div>
          <div class="pb">Entrada</div>
          <div class="color pb"><strong>General</strong></div>
          <div style="padding-bottom:1vh"></div>
          <div class="pb">Nombre completo</div>
          <div class="color pb"><strong>Althea Patrick</strong></div>
        </div>
        <div class="datosflex2">
          <div class="pb">Dni</div>
          <div class="color pb"><strong>71213322</strong></div>
          <div style="padding-bottom:1vh"></div>
          <div class="pb">Correo de contacto</div>
          <div class="color pb"><strong>bemi@mailinator.net</strong></div>
          <div style="padding-bottom:1vh"></div>
          <div class="pb">Teléfono de contacto</div>
          <div class="color pb"><strong>014323600</strong></div>
        </div>
      </div>
      <div style="padding-bottom:2vh"></div>
      <div class="contacto">
        Puedes contactar a <span class="color"><strong>Oren Decker</strong></span> por su correo <span class="color"><strong>fibat@mailinator.com</strong></span>.
      </div>
      <div style="padding-bottom:2vh"></div>
      <div class="row">
        <div class="confirmacion">
          <img src="../assets/hourglass.svg" class="confirmacionimg"/>
          <div>
            El promotor(a) seleccionado debe confirmar tu solicitud antes de que podamos enviarte tu entrada.
          </div>
        </div>
        <div class="envio">
          <img src="../assets/email.svg" class="envioimg"/>
          <div>
            Una vez que el/la promotor(a) confirme tu solicitud, procederemos a enviarte tu entrada.
          </div>
        </div>
        <div class="screenshot">
          <img src="../assets/smartphone.svg" class="screenshotimg"/>
          <div>
              Recomendamos sacar un screenshot a tu entrada apenas la recibas, ya que te la pediremos el día del evento junto a tu dni.
          </div>
        </div>
      </div>
      <div class="">
        <div class="__confirmacion">
          <div class="__row">
            <img src="../assets/hourglass.svg" class="__confirmacionimg"/>
            <div class="__confirmaciontxt">
              El promotor(a) seleccionado debe confirmar tu solicitud antes de que podamos enviarte tu entrada.
            </div>
          </div>
        </div>
        <div style="padding-bottom:1vh"></div>
        <div class="__envio">
          <div class="__row">
            <div class="__enviotxt">
              Una vez que el/la promotor(a) confirme tu solicitud, procederemos a enviarte tu entrada.
            </div>
            <img src="../assets/email.svg" class="__envioimg"/>
          </div>  
        </div>
        <div style="padding-bottom:1vh"></div>
        <div class="__screenshot">
          <div class="__row">
            <img src="../assets/smartphone.svg" class="__screenshotimg"/>
            <div class="__screenshottxt">
                Recomendamos sacar un screenshot a tu entrada apenas la recibas, ya que te la pediremos el día del evento junto a tu dni.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data () {
    return {
    }
  },
  name: 'Success'
}
</script>
<style scoped>
body {
  background: white;
  padding: 0;
  margin: 0;
}
#kryptos {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}
.gracias {
  font-size: 3vh;
  margin: 3vh 0;
}
.proceso {
  font-size: 2.5vh;
  margin: 3vh 0;
}
.row {
  display: flex;
}
.confirmacion {
  margin: 0 auto;
  width: 25vw;
  padding: 3vh;
  color: black;
  font-size: 1.9vh;
}
.confirmacionimg {
  height: 15vh;
  width: 60%;
  background: #8BB9D8;
  padding: 3vh 0;
  margin-bottom: 1vh;
  border-radius: 100px;
}
.envio {
  margin: 0 auto;
  width: 25vw;
  padding: 3vh;
  color: black;
  font-size: 1.9vh;
}
.envioimg {
  height: 15vh;
  width: 60%;
  background: #8BB9D8;
  padding: 3vh 0;
  margin-bottom: 1vh;
  border-radius: 100px;
}
.screenshot {
  margin: 0 auto;
  width: 25vw;
  padding: 3vh;
  color: black;
  font-size: 1.9vh;
}
.screenshotimg {
  height: 15vh;
  width: 60%;
  background: #8BB9D8;
  padding: 3vh 0;
  margin-bottom: 1vh;
  border-radius: 100px;
}
.datostitle {
  font-weight: 500;
  font-size: 2.5vh;
}
.color {
  color: #8BB9D8;
}
.datos {
  display: flex;
  margin: 0 30vw;
}
.datosflex1 {
  margin: 0 auto;
  width: 50vw;
  padding: 1vh;
  color: black;
  font-size: 2vh;
  text-align: center;
}
.datosflex2 {
  margin: 0 auto;
  width: 50vw;
  padding: 1vh;
  color: black;
  font-size: 2vh;
  text-align: center;
}
.contacto {
  font-size: 2vh;
}
.fullscreen {
  height: 100vh;
}
.centerofall {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pb {
  padding-bottom: 0.5vh;
}
@media screen and (max-width: 600px) {
  .fullscreen {
    height: auto;
  }
  .datos {
    margin: 0 2vw;
  }
  .row {
    display: none;
  }
  .__row {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
  }
  .__confirmacion {
    margin: 0 auto;
    width: 85vw;
    padding: 1vh;
    color: black;
    font-size: 1.9vh;
    
  }
  .__confirmacionimg {
    height: 15vh;
    width: 50%;
    background: #8BB9D8;
    padding: 3vh 0;
    border-radius: 100px;
    margin: 0 2vw;
  }
  .__confirmaciontxt {
    width: 50%;
    margin: 0 2vw;
  }
  .__envio {
    margin: 0 auto;
    width: 85vw;
    padding: 1vh;
    color: black;
    font-size: 1.9vh;
  }
  .__envioimg {
    height: 15vh;
    width: 50%;
    background: #8BB9D8;
    padding: 3vh 0;
    margin-bottom: 1vh;
    border-radius: 100px;
    margin: 0 2vw;
  }
  .__enviotxt {
    width: 50%;
    margin: 0 2vw;
  }
  .__screenshot {
    margin: 0 auto;
    width: 85vw;
    padding: 1vh;
    color: black;
    font-size: 1.9vh;
  }
  .__screenshotimg {
    height: 15vh;
    width: 50%;
    background: #8BB9D8;
    padding: 3vh 0;
    margin-bottom: 1vh;
    border-radius: 100px;
    margin: 0 2vw;
  }
  .__screenshottxt {
    width: 50%;
    margin: 0 2vw;
  }
}
@media screen and (min-width: 601px) and (max-width: 960px) {
  .fullscreen {
    height: 100vh;
  }
  .datos {
    margin: 0 20vw;
  }
  .row {
    display: flex;
  }
  .__row {
    display: none;
  }
  .confirmacion {
    width: 30vw;
    padding: 1vw;
  }
  .envio {
    width: 30vw;
    padding: 1vw;
  }
  .screenshot {
    width: 30vw;
    padding: 1vw;
  }
}
@media screen and (min-width: 961px) and (max-width: 1264px) {
  .fullscreen {
    height: 100vh;
  }
  .datos {
    margin: 0 30vw;
  }
  .row {
    display: flex;
  }
  .__row {
    display: none;
  }
  .confirmacion {
    width: 25vw;
    padding: 1.5vw;
  }
  .envio {
    width: 25vw;
    padding: 1.5vw;
  }
  .screenshot {
    width: 25vw;
    padding: 1.5vw;
  }
}
@media screen and (min-width: 1265px) and (max-width: 1904px) {
  .fullscreen {
    height: 100vh;
  }
  .datos {
    margin: 0 35vw;
  }
  .row {
    display: flex;
    padding: 0 10vw;
  }
  .__row {
    display: none;
  }
  .confirmacion {
    width: 25vw;
    padding: 2vw;
  }
  .envio {
    width: 25vw;
    padding: 2vw;
  }
  .screenshot {
    width: 25vw;
    padding: 2vw;
  }
}
</style>

