<template>
  <v-app class="noSelect">
    <router-view></router-view>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  name: 'App'
}
</script>
<style scoped>
#app {
  font-family: 'Quicksand', sans-serif;
  background: #F1F1F1;
}
.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

</style>

